<div class="card">
    <div class="card-header">
        <h2 class="card-header-title">{{descrizione}}</h2>
        <h6 class="card-subtitle mb-2 text-muted">{{luogo}}</h6>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <p>Gara: {{descrizione_breve}}</p>
                <p>Tempo: {{tempo_ufficiale}}</p>
                <p>Punteggio: {{punteggio}}</p>
            </li>
        </ul>
    </div>
 </div>